.grid {
	display: grid;
	min-width: 100%;
	height: 100vh;
	grid-template-rows: 56px auto;
	grid-template-columns: 240px auto;
}

.nav {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 6;
}

.side {
	grid-column-start: 1;
	grid-column-end: 2;
}

.main {
	grid-column-start: 2;
	grid-column-end: 6;
}
