@media screen and (max-width: 1024px) {
	.side {
		display: none;
	}


	.main {
		grid-column-start: 1;
		grid-column-end: 6;
	}
}


@media screen and (max-width: 933px) {
	.nav .search {
		display: none;
	}

	.nav .options #search {
		display: inline;
		margin-right: -32.5px;
	}

	.nav .options {
		max-width: 255px;
		position:
	}

}

@media screen and (max-width: 472px) {


	.nav .logo {
		min-width: 40vw;
	}

	.nav .options {
		max-width: 255px;
		position: absolute;
		left: 45vw;
		top: 3px;
	}

}
