* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: roboto;
}

hr {
	width: 100%;
	background-color: #E4E4E4;
	border: 0px;
}

li {
	list-style-type: none;
}

.cover {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: #000;
	opacity: 0.5;
}

/*  Modal*/

.wrapper {
	display: none;
}

em {
	font-size: 2em;
	color: rgba(0, 0, 0, 0.5);
}

#cross {
	position: relative;
	left: 97%;
	top: 20px;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.modal {
	border-radius: 5px;
	position: absolute;
	top: 10%;
	left: 30%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1em 10em;
}

.wrapper2 {
	display: block;
}

.modal h1,
img,
input {
	margin: 1em 0;
}

.modal input {
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: relative;
	width: 300px;
}

.modal input::placeholder {
	color: #808e9b;
	position: absolute;
	left: 1px;
}

.modal #button {
	position: relative;
	color: #34495e;
	background-color: #fcfcfc;
	box-shadow: 2px 2px 2px #aaa;
	width: 200px;
	cursor: pointer;
	border: 0;
	padding: 10px 0;
	transition: all 0.5s ease-in-out;
}

.modal #button:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #535c68;
	width: 0px;
	height: 3px;
	transition: all 1s ease-in-out;
}

.modal #button:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #535c68;
	width: 0px;
	height: 3px;
	transition: all 1s ease-in-out;
}

.modal #button:hover::before,
.modal #button:hover::after {
	width: 100%;
}

.modal #button:hover {
	box-shadow: 4px 4px 2px #aaa;
}


/*Nav Section*/

.nav {
	background-color: #fffc;
	display: flex;
	padding: 0 20px;
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	box-shadow: 0px 3px 1px rgba(230, 200, 255, 0.5);
}

.nav .logo span,
img,
.nav .options span,
img {
	cursor: pointer;
}

.nav .logo,
.search,
.options {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}

.nav .logo {
	display: flex;
	min-width: 220px;
}

.nav .logo span {
	margin-right: 20px;
	font-size: 25px;
}

.nav .search input {
	width: 43.26vw;
	height: 32px;
	border-radius: 3px 0 0 3px;
	outline: none;
	border: 1px #CBCBCB solid;
	padding: 0 0 0 18px;
}

.nav .search input::placeholder {
	font-size: 18px;
}

.nav .search button {
	height: 32px;
	width: 65px;
	border: 1px #CBCBCB solid;
	border-left: 0;
	border-radius: 0 3px 3px 0;
	outline: none;
	background-color: #F0F0F0;
}

/*Nav Options*/

.nav .options {
	max-width: 204px;
	font-size: 18px;
	margin-left: auto;
}

.nav .options #search {
	display: none;
}

.nav .options img {
	padding: 16px;
	margin: 0 0.25px;
}

.nav .options span {
	padding: 16px;
	margin: 0 0.25px;
	color: #CBCBCB;
}

/*Side Section*/

.side {
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;
	overflow-x: scroll;
}

.side .pages,
.side .library,
.side .subscriptions,
.side .setting {
	padding: 12px 0;
	border-bottom: 1px solid #E4E4E4;
}

.side .pages li,
.side .library li,
.side .subscriptions li,
.side .setting li {
	padding: 12px 12px 12px 24px;
	cursor: pointer;
}

.side .pages li:hover,
.side .library li:hover,
.side .subscriptions li:hover,
.side .setting li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.side .pages li span:nth-child(1),
.side .library li span:nth-child(1),
.side .subscriptions li span:nth-child(1),
.side .setting li span:nth-child(1) {
	color: #7B7B7B;
}

.side .pages li span:nth-child(2),
.side .library li span:nth-child(2),
.side .subscriptions li span:nth-child(2),
.side .setting li span:nth-child(2) {
	font-family: lato;
	margin: 0 1.5em;
	font-size: 21;
	font-weight: normal;
}

.library topic,
.subscriptions topic {
	display: inline-block;
	margin: 0 0 16px 22px;
	font-weight: 500;
	font-size: 1em;
	color: #7B7B7B;
	cursor: pointer;
}

/*Main Section*/

.main {
	background-color: hsla(0, 0%, 93.3%, .4);
	overflow: scroll;
}

.main .section {
	max-width: 1284px;
	min-width: 700px;
	padding: 10px 100px;
	display: flex;
	flex-direction: row;
	height: 100%;
	margin: auto;
	justify-content: center;
}

.main .section .sec {}

.main .card {
	height: 202px;
	width: 210px;
	margin: 0 5px;
}

.main .card img {
	height: 118px;
	width: 210px;
}
